<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= pelicula.title %></h1>
    <h2>Rating: <%= pelicula.rating %></h2>
    <h3>Cantidad de premios: <%= pelicula.awards %></h3>
    <h4>Duracion: <%= pelicula.length %></h4>
    <h5>Fecha de estreno: <%= pelicula.release_date %></h5>
</body>
</html>