<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>EDITAR PELICULA</h1>

    <% function buscarError(name){
        //console.log("buscarError");
        if(typeof errors != 'undefined'){
              let error = errors.filter(function(error){
                 return error.param == name;
              });
              //console.log(errors);
              if(error.length == 0){
                 let error = [{
                 value: '',
                 msg: '',
                 param: '',
                 location: ''
              }
              ];
              //console.log(error);
              return error;
              }
              return error;
        }else{
              let error = [{
                 value: '',
                 msg: '',
                 param: '',
                 location: ''
              }
              ];
              //console.log(error);
              return error;
        }
     }
     %>


    <form action="/movies/edit/<%= id %>?_method=PUT" method="POST">

        <label for="">Titulo</label>
        <input type="text" name="title" value="<%= (typeof datos != 'undefined') ? datos.title : pelicula.title  %>">
        <span style="color: red;font-size: 12px;"><%= buscarError('title')[0].msg %></span>
        <br>
        <br>
        <label for="">Rating</label>
        <input type="text" name="rating" value="<%= (typeof datos != 'undefined') ? datos.rating : pelicula.rating  %>">
        <span style="color: red;font-size: 12px;"><%= buscarError('rating')[0].msg %></span>
        <br>
        <br>
        <label for="">Premios</label>
        <input type="text" name="awards" value="<%= (typeof datos != 'undefined') ? datos.awards : pelicula.awards  %>">
        <span style="color: red;font-size: 12px;"><%= buscarError('awards')[0].msg %></span>
        <br>
        <br>
        <label for="">Duracion</label>
        <input type="text" name="length" value="<%= (typeof datos != 'undefined') ? datos.length : pelicula.length  %>">
        <span style="color: red;font-size: 12px;"><%= buscarError('length')[0].msg %></span>
        <br>
        <br>
        <select name="genre" id="">
            <!-- Si la peli tiene id -->
            <%if (pelicula.genre) {%>
            <!-- Pongo por default un option con los valores de la peli que me llega -->
            <option value="<%= pelicula.genre.id %>"><%= pelicula.genre.name %></option>
            <!-- Y despues imprimo todos los generos que sean distintos al que ya puse -->
            <% genres.forEach((genre) => { %>
            <%if (genre.id != pelicula.genre.id) {%>
            <option value="<%=genre.id%>"><%= genre.name %></option>
            <% } }) %>
            <!-- Y si la peli no tiene genero directamente imprimo todos los generos -->
            <% } else{%>
            <% genres.forEach((genre) => { %>
            <option value="<%=genre.id%>"><%= genre.name %></option>
            <%  }) %>
            <%}%>
            <!-- NO ENCONTRE MANERA DE PONER UN VALOR POR DEFAULT EN EL SELECT MANTENIENDO LA IMPRESION DINAMICA -->
        </select>
        <br>
        <br>

        <button type="submit">EDITAR</button>


    </form>
</body>

</html>